defaults : &defaults
  adapter: postgresql
  encoding: unicode
  username: root
  password: root
  pool: 5
  host: localhost
  port: 5432

development: &DEV
  <<: *defaults
  database: epets_development

development_with_caching:
  <<: *DEV

test: &TEST
  <<: *defaults
  database: epets_test

cucumber:
  <<: *TEST
